/*GENERALES*/
$fuente-principal:'Vidaloka', serif;
$fuente-parrafo: 'Roboto', sans-serif;

html{
	font-size: 62.5%;
	background: #F9F9F9;
}

body{
	margin: 0%;
	padding: 0%;
}

ul li{
	font-family: $fuente-parrafo;
	font-size: 1.5rem;
}


#link{
	color: #ffffff;
	font-family: $fuente-principal;
	font-size: 1.7rem;
	text-decoration: none;
	letter-spacing: 1px;
}

h2{
	font-family: $fuente-principal;
	font-size: 2.8rem;
	letter-spacing: 1px;
	padding: 0;
	margin-bottom: 0;
	font-weight: bold;
	color: #000000;
	margin-top: 4rem;
}

h3{
	font-family: $fuente-principal; 
	font-size: 2.8rem;
	letter-spacing: 1px;
	font-weight: normal;
	margin: 3rem 0;
	color: #000000;
}

h4{
	font-family: $fuente-principal;
	font-size: 1.8rem;
	margin: 0;
	font-weight: 600;
	color: #000000;
}

p{
	font-family: $fuente-parrafo;
	font-size: 1.8rem;
	line-height: 1.8;
	color: #000000;
}

@media (max-width: 991px){
	h2{
		font-size: 2.7rem;
	}

	h3{
		font-size: 2.7rem;
	}	

	h4{
		font-size: 1.7rem;
	}

	p{
		font-size: 1.7rem;
	}
}

.tituloSeccion{
    font-size: 3.7rem;
    margin-top: 2rem;
    text-align: center;
}

.btn-lg{
	font-size: 1.5rem;
	font-family: $fuente-parrafo;
	color: #000000;
}

.row{
	margin-top: 7rem;
}

.pantallaCompleta{
	height: calc(100vh );
}

.medidasCero{
	margin: 0;
	padding: 0;
}